/**
  * Page layout
  */
html, body {
  height: 100%;
}

* {
  font-family: 'Fjord One', serif;
  box-sizing: border-box;
}

.page-container {
  position: relative;
  min-height: 100%;
  max-width: 1200px;
}

.page-section {
  padding: 30px;
}

.section + .section {
  margin-top: 30px;
}

@media only screen and (min-width : 768px) {
  .section + .section {
    margin-top: 60px;
  }
}

/**
  * Navigation
  */
.page-section--navigation {
  background-color: #191919;
  color: #c8c8c8;
}

.page-section--navigation a {
  color: #c8c8c8;
}

@media only screen and (min-width : 768px) {
  .page-section--navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40%;
  }

  .page-section--content {
    margin-left: 40%;
  }
}

/**
  * Navigation - me
  */
.section--me {
  text-align: center;
}

.me-avatar {
  width: 120px;
  border-radius: 50%;
}

/**
  * Navigation - menu
  */
.section--menu {
  text-align: center;
}

.menu-links {
  padding: 0;
  margin: 0;
}

.menu-link {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}

.menu-link a {
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (min-width : 768px) {
  .menu-link {
    display: block;
    margin: 0 0 20px 0;
  }
}

/**
  * Navigation - social links
  */
.section--social {
  text-align: center;
}

.social-links {
  margin: 0;
  padding: 0;
}

.social-link {
  display: inline-block;
  list-style: none;
  font-size: 32px;
}

.social-link + .social-link {
  margin-left: 25px;
}
