html, body {
  height: 100%;
}

* {
  font-family: 'Fjord One', serif;
  box-sizing: border-box;
}

.page-container {
  position: relative;
  min-height: 100%;
  max-width: 1200px;
}

.section {
  padding: 25px;
}

.section--navigation {
  background-color: #191919;
  color: #c8c8c8;
}

.section--navigation a {
  color: #c8c8c8;
}

@media only screen and (min-width : 768px) {
  .section--navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40%;
  }

  .section--content {
    margin-left: 40%;
  }
}

.me-name, .me-intro {
  text-align: center;
}
